/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2021, 2:43:08 PM
    Author     : lincia dsouza
*/
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }

#feed_the_hungry_3_2_1 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 1280px;
	height: 960px;
	background:url(skins/feed_the_hungry_3_2_1.png);
	background-size: 100% 100%;
}
#mask_group_ek1 {
	top: 250px !important;
	position: absolute !important;
	left: 1050px;
	width: 950px;
	height: 820px;
	background:url(skins/mask_group_ek1.png);
	background-size:cover;
        position: fixed;
}
.cls{
    top: 200px;
    margin-left: 230px;
    width: 500px;
    position: absolute;
	color: #FFFFFF !important;
	text-decoration: none;
	background-image:  linear-gradient(to left,#6678F1,#2743FD,#4A5FE7);
	padding: 20px;
        border-color: #6678F1;
	border-radius: 30px;
	display: inline-block;
	border: none;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bold;
	transition: all 0.4s ease 0s;
}
.cls:hover{
    
    font-size: 25px;
        font-weight: bold;
        color: #000000 !important;
    	background-image:  linear-gradient(to left, #896A6A,#A08888, #BAABAB);
	letter-spacing: 2.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.abc{
    top: 310px;
    margin-left: 230px;
    width: 500px;
    position: absolute;
	color: #FFFFFF !important;
	text-decoration: none;
	background-image:  linear-gradient(to left,#6678F1,#2743FD,#4A5FE7);
	padding: 20px;
        border-color: #6678F1;
	border-radius: 30px;
	display: inline-block;
	border: none;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bold;
	transition: all 0.4s ease 0s;
}
.abc:hover{
    
    font-size: 25px;
        font-weight: bold;
        color: #000000 !important;
    	background-image:  linear-gradient(to left, #896A6A,#A08888, #BAABAB);
	letter-spacing: 2.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.abc1{
    top: 420px;
    margin-left: 230px;
    width: 500px;
    position: absolute;
	color: #FFFFFF !important;
	text-decoration: none;
	background-image:  linear-gradient(to left,#6678F1,#2743FD,#4A5FE7);
	padding: 20px;
        border-color: #6678F1;
	border-radius: 30px;
	display: inline-block;
	border: none;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bold;
	transition: all 0.4s ease 0s;
}
.abc1:hover{
    
    font-size: 25px;
        font-weight: bold;
        color: #000000 !important;
    	background-image:  linear-gradient(to left, #896A6A,#A08888, #BAABAB);
	letter-spacing: 2.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.button2 {
   margin-top: 530px;
    margin-left: 300px;
    width: 350px;
    height: 65px;
    font-size: 25px;
        font-weight: normal;
        border-radius: 30px;
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
}

.button2:hover {
  background-color: #000000;
  color: white;
}
